.main {
  @include breakpoint(mobile) {
    grid-template-columns: 1fr;
    text-align: center;

    .eggy {
      grid-row: 1/2;

      img {
        content: url("images/mobile/image-transform.jpg");
      }
    }

    .cone {
      img {
        content: url("images/mobile/image-stand-out.jpg");
      }
    }

    .learn-more {
      align-self: center;
    }
  }

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: max-content;

  .section {
    @include breakpoint(tablet) {
      padding: 10%;
    }
    @include breakpoint(mobile-min) {
      padding: 15%;
    }
    @include breakpoint(mobile) {
      padding: 10%;
    }
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 20%;
    row-gap: 20px;

    .heading_h2 {
      font-size: 38px;
      font-family: "Fraunces", serif;
      color: hsl(212, 27%, 19%);
      @include breakpoint(mobile-min) {
        font-size: 30px;
      }
    }

    .details {
      line-height: 1.3;
      font-family: "Barlow", sans-serif;
    }

    .learn-more {
      text-decoration: none;
      color: hsl(212, 27%, 19%);
      font-family: "Fraunces", serif;
      font-weight: 900;
      font-size: 24px;
      position: relative;
    }

    .img-wrapper {
      //   @include breakpoint(mobile) {
      //   }
      height: 100%;
      width: 100%;
    }
  }

  .services {
    @include flexCenter;
    justify-content: flex-end;
    min-height: 500px;
    width: 100%;
    padding-bottom: 10%;
    padding-left: 5vw;
    padding-right: 5vw;

    div {
      @include breakpoint_min(desktop) {
        width: 70%;
      }
      @include flexCenter;
      text-align: center;
      height: fit-content;
      width: 100%;
    }
    .heading_h3 {
      margin-bottom: 20px;
      font-family: "Fraunces", serif;
      font-size: 28px;
      font-weight: 900;
      text-transform: capitalize;
    }

    p {
      @include breakpoint(tablet) {
        font-size: 15px;
      }
      text-align: center;
      font-family: "Barlow", sans-serif;
      font-weight: bold;
      font-size: 18px;
      line-height: 1.6;
    }
  }

  .graphic-design {
    @include breakpoint(mobile) {
      background-image: url("mobile/image-graphic-design.jpg");
    }
    @include serviceText(hsl(167, 40%, 24%));
    background-image: url("desktop/image-graphic-design.jpg");
    background-size: 100% 100%;
    background-position: top center;
  }

  .photography {
    @include breakpoint(mobile) {
      background-image: url("mobile/image-photography.jpg");
    }
    @include serviceText(hsl(198, 62%, 26%));
    background-image: url("desktop/image-photography.jpg");
    background-size: 100% 100%;
  }
}

#learn-more_1::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: 5px;
  background-color: hsla(51, 100%, 49%, 0.4);
}

#learn-more_1:hover::after {
  background-color: hsla(51, 100%, 49%, 1);
}
#learn-more_2::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: 5px;
  background-color: hsla(7, 99%, 70%, 0.4);
}

#learn-more_2:hover::after {
  background-color: hsla(7, 99%, 70%, 1);
}
