$breakpoints: (
  "mobile": "375px",
  "mobile-min": "488px",
  "header-bp": "487px",
  "desktop": "1024px",
);

@mixin breakpoint($size) {
  @media (max-width: map-get($breakpoints, $size)) {
    @content;
  }
}
@mixin breakpoint-min($size) {
  @media (min-width: map-get($breakpoints, $size)) {
    @content;
  }
}

@mixin flexCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin serviceText($color) {
  h3 {
    color: $color;
  }
  p {
    color: lighten($color, 10%);
  }
}
