.testimonials {
  @include breakpoint(tablet) {
    grid-template-columns: 1fr;
  }
  min-height: 700px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto 1fr;
  gap: 50px;
  padding: 140px 5%;

  .testimonials__heading {
    @include breakpoint(tablet) {
      grid-column: 1/2;
      text-align: center;
      font-size: 18px;
      letter-spacing: 0.1rem;
    }

    grid-column: 1/4;
    justify-self: center;
    color: hsl(213, 9%, 39%);
    font-family: "Fraunces", serif;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
  }

  .testimonial {
    @include flexCenter;
    height: 100%;
    justify-content: space-between;
    row-gap: 40px;

    .profile-picture {
      border-radius: 50%;
      height: 70px;
      width: 70px;
    }

    blockquote {
      text-align: center;
      color: hsla(212, 27%, 19%, 0.8);
      font-family: "Barlow", sans-serif;
      font-weight: 600;
      line-height: 1.6;
    }

    div {
      text-align: center;

      .heading_h4 {
        font-family: "Fraunces", serif;
        color: hsl(212, 27%, 19%);
        font-size: 18px;
        text-align: center;
      }

      small {
        font-size: 15px;
        font-family: "Barlow", sans-serif;
        font-weight: 600;
        color: hsla(213, 9%, 39%, 0.6);
      }
    }
  }
}
